
md-toolbar {
    position: fixed;
    top: 0;
}

md-dialog-content {
    margin-top: 75px;
}

.boardContent {
    height: calc(100% - 75px);
}

.commentsContent {
    max-height: 49%;
}

.postCommentsContent {
    max-height: 36%;
}

.logo {
    font-size: 24px;
}

.seperator {
    height: 65px;
}

.addPostFab {
    position: fixed;
    top: 65px;
    left: 0;
    font-size: 26px;
}

.board {
    padding: 5px;
}

.justPost {
    padding: 10px;
}

.postInfo {
    padding: 20px;
}

.postImage {
    max-height: 50%;
    max-width: 50%;
}

.post {
    background-size: 150% !important;
    transition: all 0.7s ease;
    -webkit-user-select: none;
}

.post:hover {
    background-size: 140% !important;
}

.post .postButton {
    font-weight: 600;
    font-size: 17px;
}

.up {
    color: #4CAF50;
}

.down {
    color: #F44336;
}

.post .postFooter {
    height: auto;
    background-color: rgba(0,0,0,0.5);
}

.post .postFooter .postTitle {
    margin: 16px 0 0 16px;
}

.post .postLink {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
