<div class="board">
    <md-content>
        <md-button class="md-fab md-primary md-hue-2 addPostFab"
            aria-label="New Post"
            ng-click="createPost($event)">
            <md-icon>
                <i class="fa fa-plus"></i>
            </md-icon>
        </md-button>
        <md-grid-list md-cols="{{cols}}" md-gutter="5px" md-row-height="1:1">
            <md-grid-tile ng-repeat="post in posts"
                md-rowspan="{{post.rows}}"
                md-colspan="{{post.cols}}"
                ng-style="{
                    'background': post.background
                }"
                class="post">
                <md-grid-tile-footer class="postFooter">
                    <div class="postTitle">{{post.title}}</div>
                    <div>
                        <md-button class="md-icon-button postButton"
                            ng-class="{ up: hasVoted(post.id, 1) }"
                            ng-click="vote(post.id, 1)">
                            <i class="fa fa-chevron-up"></i>
                            {{post.votes.up}}
                        </md-button>
                        <md-button class="md-icon-button postButton"
                            ng-class="{ down: hasVoted(post.id, -1) }"
                            ng-click="vote(post.id, -1)">
                            <i class="fa fa-chevron-down"></i>
                            {{post.votes.down}}
                        </md-button>
                        <md-button class="md-icon-button postButton"
                            ng-click="openComments(post, $event)">
                            <i class="fa fa-comments"></i>
                            {{post.comments.length}}
                        </md-button>
                    </div>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>
