<div layout="column">
    <div class="justPost" layout="row">
        <img class="postImage" ng-src="{{post.url}}"></img>
        <div class="postInfo" flex="50">
            <h1>{{post.title}}</h1>
            <h2>{{post.desc}}</h2>
            <div>
                <md-button class="md-icon-button postButton"
                    ng-class="{ up: hasVoted(post.id, 1) }"
                    ng-click="vote(post.id, 1)">
                    <i class="fa fa-chevron-up"></i>
                    {{post.votes.up}}
                </md-button>
                <md-button class="md-icon-button postButton"
                    ng-class="{ down: hasVoted(post.id, -1) }"
                    ng-click="vote(post.id, -1)">
                    <i class="fa fa-chevron-down"></i>
                    {{post.votes.down}}
                </md-button>
            </div>
        </div>
    </div>
    <div flex="45" layout="row">
        <span flex></span>
        <div flex="75">
            <form flex name="commentForm"
                ng-submit="submitComment()"
                autocomplete="off">
                <md-input-container class="md-block">
                    <label>Your Comment</label>
                    <input md-maxlength="100" md-minlength="2"
                        name="comment"
                        ng-model="comment">
                    <div ng-messages="commentForm.comment.$error">
                        <div ng-message="md-minlength">
                            Say a little more than that...
                        </div>
                        <div ng-message="md-maxlength">
                            Too much! Say less...
                        </div>
                    </div>
                </md-input-container>
                <input class="ng-hide" type="submit" id="submit">
            </form>
            <md-content class="postCommentsContent">
                <md-list>
                    <md-list-item class="md-2-line"
                        ng-repeat="comment in post.comments track by $index">
                        <div class="md-list-item-text">
                            <h3>{{comment}}</h3>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <span flex></span>
    </div>
</div>
